@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: black;
    font-family: Calibri;
    color: white;
}

article,
main {
    max-width: 150ch;
    padding: auto;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(purple, black);
    /* width: 100%; */
    margin-bottom: 6rem;
}


header a {
   margin-right: 2rem;
   text-transform: uppercase;
   font-size: 1.2rem;
   letter-spacing: 2px;
   color:aqua;
   text-decoration: none;
   transition: all 0.3s ease-out;
}

header a:is(:hover, :focus-visible) {
    color: black;
    font-weight: bold;
    background-color: khaki;
    padding: 2rem 1rem;
}

.header {
    float: right;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.header li {
    list-style-type: none;
    padding: 0 0.5rem;
}

#logo {
    height: 5.7rem;
    /* margin: 0.2rem; */
    margin-left: 2.5rem;
    /* margin-top: 0.5rem; */
    /* flex-grow: 2; */
}


/* index main  */
.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#greeting {
    text-align: center;
    padding: 5rem;
    padding-bottom: 7rem;
    background-image: linear-gradient(purple, black);
    border-radius: 2rem;
}

#background {
    /* background-image: linear-gradient(palegoldenrod, black); */
    padding: 1rem;
    border-radius: 2rem;
    border-style: solid;
    border-color: burlywood;
    border-bottom-style: none;
}

#name {
    font-size: 3.8rem;
    letter-spacing: 1px;
    color:darksalmon;
    padding-bottom: 0.75rem;
    font-family: Caveat Brush, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 1px black;
}

#message {
    font-size: 1.7rem;
    letter-spacing: 2.3px;
    max-width: 50rem;
    text-align: center;
    margin: auto;
    padding-bottom: 4rem;
}

#more  {
    background-color:aquamarine;
    color: purple;
    font-weight: bold;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0.75rem;
    transition: all 0.5s ease-out;
    width: 15rem;
    margin: auto;
}

#more-about a:is(:hover, :focus-visible) {
    color: black;
    font-weight: bold;
    background-color: lightcoral;
    padding: 1.5rem 1.5rem;
}

.dropdown-menu a {
    color: violet;
    background-color: black;
    padding: 0.2rem;
}

.dropdown-menu a:is(:hover, :focus-visible) {
    color: black;
    background-color: lightcoral;
    padding: 0.2rem;
}

.dropdown-menu {
    width: 10rem;
    background-color: black;

}

/* about page */

#part1 {
    display: flex;
    /* background-color: lightcoral; */
    color: lightcoral;
    font-size: 1.5rem;
    font-family: Gaegu, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 100%;
    padding: 2rem;
    margin: auto;
    margin-bottom: 3rem;
    align-items: flex-end;
    padding: 2rem;
    border-style: solid;
    border-radius: 1.5rem;
    border-color: burlywood;
    border-bottom-style: none;
    transition: transform 0.8s;
}

#part1:hover {
    transform: scale(1.1);
}
#part1 p {
    margin: auto;
}

.m-4 i {
    color: burlywood;
}

.m-4 em{
    color: lightskyblue;
}

#part2 {
    display: flex;
    /* background-color:cadetblue; */
    color: cadetblue;
    font-size: 1.5rem;
    font-family: Gaegu, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 100%;
    padding: 2rem;
    margin: auto;
    margin-bottom: 3rem;
    padding: 1rem;
    border-style: solid;
    border-radius: 1.5rem;
    border-color: burlywood;
    border-bottom-style: none;
    transition: transform 0.8s;
}

#part2:hover {
    transform: scale(1.1);
}

#part2 p {
    margin: auto;
    width: 90%;
}

#part3 {
    display: flex;
    /* background-color: darkseagreen; */
    color: darkseagreen;
    font-size: 1.5rem;
    font-family: Gaegu, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 100%;
    padding: 2rem;
    margin: auto;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 1.5rem;
    border-style: solid;
    border-color: burlywood;
    border-bottom-style: none;
    transition: transform 0.8s;
}

#part3:hover {
    transform: scale(1.1);
}

#part3 p {
    margin: auto;
    width: 90%;
}

#bg {
    text-decoration: none;
}

/* contact page */

.contact-page button {
    float: right;
    margin-right: 1rem;
    font-size: 1.1rem;
}